<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Expression tests</title>
	<link rel="stylesheet" href="../dist/mavo.css" />
	<link rel="stylesheet" href="style.css" />
	<style>
		[data-foo]::before {
			content: "[data-foo=" attr(data-foo) "]";
			background: #efc;
		}
	</style>
</head>
<body>

<h1>Expression tests</h1>

<script type="application/json" id="countries">{
	"country": [
		{
			"code": "",
			"name": "Online"
		},
		{
			"code": "us",
			"name": "United States"
		},
		{
			"code": "gb",
			"name": "United Kingdom"
		}
	]
}</script>

<section mv-app="basicexpr">
	<h1>Basic</h1>

	<table class="reftest">
		<tr>
			<td property="prop1">[40 + 2]</td>
			<td>42</td>
		</tr>
		<tr>
			<td>[40 +]</td>
			<td>40 +</td>
		</tr>
		<tr>
			<td><input value="[39 + 3]"></td>
			<td><input value="42"></td>
		</tr>
		<tr>
			<td property="prop2">[prop1 + 1]</td>
			<td>43</td>
		</tr>
		<tr>
			<td property="prop3">[prop2 + 1]</td>
			<td>44</td>
		</tr>
		<tr>
			<td>[prop3 + 1]</td>
			<td>45</td>
		</tr>
		<tr>
			<td>[false]</td>
			<td>false</td>
		</tr>
	</table>

</section>

<section mv-storage="#countries">
	<h1>With render (country data)</h1>

	<table class="reftest">
		<tr>
			<td>[count(country)]</td>
			<td>3</td>
		</tr>
		<tr>
			<td>[count(code)]</td>
			<td>2</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li property="country" mv-multiple>
						<span property="code"></span> [code]
						<span property="name"></span> [name]
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>Online Online</li>
					<li>usus United States UnitedStates</li>
					<li>gbgb United Kingdom United Kingdom</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>[country]</td>
			<td mv-expressions="none">[object Object], [object Object], [object Object]</td>
		</tr>
		<tr>
			<td>[count(code == us)]</td>
			<td>1</td>
		</tr>
	</table>
</section>

<section mv-app mv-storage="local" mv-init="people.json">
	<h1>Aggregates</h1>

	<table class="reftest">
		<tr>
			<td>
				<div property="person" mv-multiple>
					<strong property="name">John Doe</strong>
					<ul>
						<li property="hobby" mv-multiple>Fishing</li>
					</ul>
				</div>
				<div property="cat" mv-multiple>
					<strong property="name">John Doe</strong>
					<ul>
						<li property="hobby" mv-multiple>Fishing</li>
					</ul>
				</div>
			</td>
			<td>

				<div>
					<strong>Lea Verou</strong>
					<ul>
						<li>Coding</li><li>Design</li><li>Cooking</li>
					</ul>
				</div><div>
					<strong>David Karger</strong>
					<ul>
						<li>Dancing</li><li>Theory</li>
					</ul>
				</div>
				<div>
					<strong>Vector</strong>
					<ul>
						<li>Eating</li><li>Purring</li>
					</ul>
				</div><div>
					<strong>Chiki</strong>
					<ul>
						<li>Playing</li>
					</ul>
				</div>

			</td>
		</tr>
		<tr>
			<td>[count(person)]</td>
			<td>2</td>
		</tr>
		<tr>
			<td>[count(cat)]</td>
			<td>2</td>
		</tr>
		<tr title="Count of property that exists in both collections">
			<td>[count(name)]</td>
			<td>4</td>
		</tr>
		<tr title="Count of property that exists in both collections">
			<td>[count(hobby)]</td>
			<td>8</td>
		</tr>
		<tr title="Count of property from specific collection">
			<td>[count(person.hobby)]</td>
			<td>5</td>
		</tr>
		<tr title="Count of property from specific collection">
			<td>[count(cat.hobby)]</td>
			<td>3</td>
		</tr>
	</table>
</section>

<section class="mv-app">
	<h1>Without render</h1>

	<table class="reftest">
		<tr>
			<td>
				<ul>
					<li property="country" mv-multiple>
						<span property="code">Code</span> [code]
						<span property="name">Name</span> [name]
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>Code Code Name Name</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>[country]</td>
			<td mv-expressions="none">[object Object]</td>
		</tr>
		<tr>
			<td>[count(code)]</td>
			<td>1</td>
		</tr>
	</table>
</section>

<section class="mv-app mv-keep-unhandled" mv-init="#countries">
	<h1>Broad references</h1>

	<table class="reftest">
		<tr>
			<td>
				<select size="3">
					<option value="[code]" property="country" mv-multiple typeof>[name]</option>
				</select>
			</td>
			<td>
				<select size="3">
					<option value="">Online</option><!--
					--><option value="us">United States</option><!--
					--><option value="gb">United Kingdom</option>
				</select>
			</td>
		</tr>
	</table>
</section>

<style>
	#customSyntax .reftest td:empty::before {
		/* If this goes inside the Mavo it will be parsed as an expression and
		 * we cannot use mv-expressions="none" to escape because that's
		 * exactly what we're testing here!
		 */
		content: "[1 + 2]";
	}
</style>

<section class="mv-app" id="customSyntax" mv-init="#countries">
	<h1>Custom expression syntax</h1>

	<table class="reftest">
		<tr>
			<td mv-expressions="[[ ]]">[[1 + 2]]</td>
			<td>3</td>
		</tr>
		<tr>
			<td mv-expressions="{{ }}">{{1 + 2}}</td>
			<td>3</td>
		</tr>
		<tr>
			<td mv-expressions="{{ }}">[1 + 2]</td>
			<td></td>
		</tr>
		<tr title="Inner with different syntax">
			<td mv-expressions="{{ }}"><span mv-expressions="( )">(1 + 2)</td>
			<td>3</td>
		</tr>
		<tr title="Inner with different syntax">
			<td mv-expressions="{{ }}"><span mv-expressions="( )">{{1 + 2}}</td>
			<td>{{1 + 2}}</td>
		</tr>
		<tr title="Inner with the same syntax">
			<td mv-expressions="{{ }}"><span mv-expressions="{{ }}">{{1 + 2}}</td>
			<td>3</td>
		</tr>
		<tr title="Escape expressions">
			<td mv-expressions="none">[1 + 2]</td>
			<td></td>
		</tr>
		<tr title="Invalid delimiter (no space)">
			<td mv-expressions="[]">[1 + 2]</td>
			<td></td>
		</tr>
		<tr title="Invalid delimiter (only space)">
			<td mv-expressions=" ">[1 + 2]</td>
			<td></td>
		</tr>
	</table>
</section>

<section class="mv-app">
	<h1>mv-value</h1>

	<table class="reftest">
		<tr>
			<td><div mv-value="39 + 3">Without expression syntax</div></td>
			<td>42</td>
		</tr>
		<tr>
			<td><div mv-value="(39 + 3">With bug</div></td>
			<td>With bug</td>
		</tr>
		<tr>
			<td><input mv-value="39 + 3" value="In attribute"></td>
			<td><input value="42"></td>
		</tr>
	</table>
</section>

<section class="mv-app" id="mvIf">
	<h1>mv-if</h1>

	<table class="reftest">
		<tr>
			<td>A<span mv-if="false">B</span>C</td>
			<td>AC</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B</span>C</td>
			<td>ABC</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B<span mv-if="true">C</span></span>D</td>
			<td>ABCD</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B<span mv-if="false">C</span></span>D</td>
			<td>ABD</td>
		</tr>
		<tr>
			<td>A<span mv-if="false">B<span mv-if="true">C</span></span>D</td>
			<td>AD</td>
		</tr>
		<tr>
			<td>A<span mv-if="false"><span property="prop1">C</span></span>[prop1]</td>
			<td>A</td>
		</tr>
		<tr>
			<td>A<span mv-if="false">B<span mv-if="true"><span property="prop2">C</span></span></span>[prop2]</td>
			<td>A</td>
		</tr>
	</table>
</section>

<section class="mv-app" id="ifteraction">
	<h1>mv-if Interactive tests</h1>

	<p>Check the checkbox. The displayed value next to it should go from "1 1 1" to "2 4 6 3 5 7"</p>

	<table class="reftest">
		<tr>
			<td>
				<input property="test" type="checkbox">
				<span mv-if="test" class="if1">
					<span property="nested1">2</span>

					<span mv-if="true" class="if2">
						<span property="nested2">4</span>

						<span mv-if="true" class="if3">
							<span property="nested3">6</span>
						</span>
					</span>
				</span>
				[nested1 + 1] [nested2 + 1] [nested3 + 1]
			</td>
			<td><input type="checkbox" checked> 2 4 6 3 5 7</td>
		</tr>
	</table>
</section>

<script src="../dist/mavo.js"></script>
<script src="test.js"></script>

</body>
</html>
