.curd-item.editing [itemprop]:not([itemscope]) input, .curd-item.editing [itemprop]:not([itemscope]) select, .curd-item.editing [itemprop]:not([itemscope]) textarea,
.curd-item.editing [property]:not([typeof]) input,
.curd-item.editing [property]:not([typeof]) select,
.curd-item.editing [property]:not([typeof]) textarea, .curd-item .curd-buttons button.save, .curd-item .curd-buttons button.cancel {
  all: initial;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit; }

button.add {
  display: inline-block;
  margin-left: .5em;
  vertical-align: middle; }

[data-store] {
  display: none; }

.curd-item[typeof], .curd-item[itemscope], .curd-item *[typeof], .curd-item *[itemscope] {
  position: relative; }
.curd-item.delete-hover, .curd-item *.delete-hover {
  box-shadow: 0 0 0 50vmax rgba(255, 0, 0, 0.06) inset, 0 0 0 0.1em rgba(255, 0, 0, 0.05);
  border-radius: .1em; }
.curd-item .edit,
.curd-item .delete {
  all: initial;
  position: absolute;
  top: .1em;
  right: -1.5em;
  padding: 0 .3em;
  cursor: pointer;
  transform: scale(-1, 1);
  color: rgba(0, 0, 0, 0.3); }
  .curd-item .edit:hover,
  .curd-item .delete:hover {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: white; }
.curd-item .delete {
  color: rgba(180, 0, 0, 0.8); }
.curd-item .delete:hover {
  background: rgba(180, 0, 0, 0.8); }
.curd-item:not(.editing) .curd-buttons,
.curd-item:not(.editing) .empty,
.curd-item:not(.editing) .delete,
.curd-item:not(.editing) button.add {
  display: none; }
.curd-item.editing .edit {
  display: none; }
.curd-item.editing [itemprop]:not([itemscope]) textarea,
.curd-item.editing [property]:not([typeof]) textarea {
  box-sizing: border-box;
  width: 100%; }
.curd-item.editing [itemprop]:not([itemscope]).using-popup:hover, .curd-item.editing [itemprop]:not([itemscope]).using-popup:focus, .curd-item.editing [itemprop]:not([itemscope]) input:hover, .curd-item.editing [itemprop]:not([itemscope]) input:focus, .curd-item.editing [itemprop]:not([itemscope]) select:hover, .curd-item.editing [itemprop]:not([itemscope]) select:focus, .curd-item.editing [itemprop]:not([itemscope]) textarea:hover, .curd-item.editing [itemprop]:not([itemscope]) textarea:focus,
.curd-item.editing [property]:not([typeof]).using-popup:hover,
.curd-item.editing [property]:not([typeof]).using-popup:focus,
.curd-item.editing [property]:not([typeof]) input:hover,
.curd-item.editing [property]:not([typeof]) input:focus,
.curd-item.editing [property]:not([typeof]) select:hover,
.curd-item.editing [property]:not([typeof]) select:focus,
.curd-item.editing [property]:not([typeof]) textarea:hover,
.curd-item.editing [property]:not([typeof]) textarea:focus {
  outline: 1px dashed;
  outline-offset: 1px; }
.curd-item.editing [itemprop]:not([itemscope]).using-popup:hover, .curd-item.editing [itemprop]:not([itemscope]) input:hover, .curd-item.editing [itemprop]:not([itemscope]) select:hover, .curd-item.editing [itemprop]:not([itemscope]) textarea:hover,
.curd-item.editing [property]:not([typeof]).using-popup:hover,
.curd-item.editing [property]:not([typeof]) input:hover,
.curd-item.editing [property]:not([typeof]) select:hover,
.curd-item.editing [property]:not([typeof]) textarea:hover {
  box-shadow: 0 0 0 2px rgba(255, 247, 0, 0.15), 0 0 0 99em rgba(255, 247, 0, 0.15) inset;
  outline-color: rgba(115, 132, 140, 0.3); }
.curd-item.editing [itemprop]:not([itemscope]).using-popup:focus, .curd-item.editing [itemprop]:not([itemscope]) input:focus, .curd-item.editing [itemprop]:not([itemscope]) select:focus, .curd-item.editing [itemprop]:not([itemscope]) textarea:focus,
.curd-item.editing [property]:not([typeof]).using-popup:focus,
.curd-item.editing [property]:not([typeof]) input:focus,
.curd-item.editing [property]:not([typeof]) select:focus,
.curd-item.editing [property]:not([typeof]) textarea:focus {
  outline-color: rgba(51, 119, 153, 0.6); }
.curd-item .popup {
  all: initial;
  position: absolute;
  z-index: 1;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .4em;
  margin: .3em 0 0 -.5em;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  background: white; }
  .curd-item .popup::before {
    content: "";
    position: absolute;
    top: -.36em;
    left: 1em;
    padding: .3em;
    border: inherit;
    border-right-width: 0;
    border-bottom-width: 0;
    background: inherit;
    transform: rotate(45deg); }
  .curd-item .popup input, .curd-item .popup select {
    display: block;
    font: inherit;
    min-width: 100%; }
.curd-item .curd-buttons {
  padding: .5em 0 .1em;
  text-align: center; }
  .curd-item .curd-buttons button.save, .curd-item .curd-buttons button.cancel {
    padding: .4em .6em;
    border: 2px solid;
    border-radius: .4em;
    background: transparent;
    font: bold 80% Helvetica Neue, sans-serif;
    cursor: pointer; }
    .curd-item .curd-buttons button.save:hover, .curd-item .curd-buttons button.cancel:hover {
      background: black;
      color: white;
      border-color: transparent; }
  .curd-item .curd-buttons button.save {
    color: #81b814;
    font-weight: bold; }
    .curd-item .curd-buttons button.save:hover {
      background: #81b814; }
  .curd-item .curd-buttons button.cancel {
    margin-left: .4em;
    color: #c00; }
    .curd-item .curd-buttons button.cancel:hover {
      background: #c00; }
