%reset {
	all: initial;
	font: inherit;
	color: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

[data-store] button.add {
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
}

[data-store] [typeof],
[data-store] [itemscope] {
	position: relative;	
	
	.edit, 
	.delete {
		all: initial;
		position: absolute;
		top: 1em;
		right: -1.5em;
		padding: 0 .3em;
		cursor: pointer;
		transform: scale(-1, 1);
		color: rgba(0,0,0,.3);
		
		&:hover {
			border-radius: 50%;
			background: rgba(0,0,0,.2);
			color: white;
		}
	}
	
	.delete {
		color: rgba(180,0,0,.8);
	}
	
	.delete:hover {
		background: rgba(180,0,0,.8);
	}
	
	&.editing .edit,
	&.saved .curd-buttons,
	&.saved .empty {
		display: none;
	}
	
	&.editing {
		[itemprop]:not([itemscope]),
		[property]:not([typeof]) {
			input, select, textarea {
				@extend %reset;
			}
			
			textarea {
				box-sizing: border-box;
				width: 100%;
			}
			
			&.using-popup, input, select, textarea {
				&:hover, &:focus {
					outline: 1px dashed;
					outline-offset: 1px;
				}
				
				&:hover {
					$color: hsla(58, 100%, 50%, .15);
					
					box-shadow: 0 0 0 2px $color, 0 0 0 99em $color inset;
					outline-color: hsla(200,10%,50%,.3);
				}
				
				&:focus {
					outline-color: hsla(200,50%,40%,.6);
				}
			}
		}
	}
	
	.popup {
		all: initial;
		position: absolute;
		z-index: 1;
		padding: 1em;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: .4em;
		margin: .3em 0 0 -.5em;
		box-shadow: 0 .1em .3em rgba(0,0,0,.3);
		background: white;
		
		&::before {
			content: "";
			position: absolute;
			top: -.36em;
			left: 1em;
			padding: .3em;
			border: inherit;
			border-right-width: 0;
			border-bottom-width: 0;
			background: inherit;
			transform: rotate(45deg)
		}
		
		input, select {
			display: block;
			font: inherit;
			min-width: 100%;
		}
	}
		
	.curd-buttons {
		padding: .5em 0 .1em;
		text-align: center;
	
		%buttons {
			@extend %reset;
			padding: .4em .6em;
			border: 2px solid;
			border-radius: .4em;
			background: transparent;
			font: bold 80% Helvetica Neue, sans-serif;
			cursor: pointer;
			
			&:hover {
				background: black;
				color: white;
				border-color: transparent;
			}
		}
		
		button.save {
			@extend %buttons;
			color: hsl(80, 80%, 40%);
			font-weight: bold;
			
			&:hover {
				background: hsl(80, 80%, 40%);
			}
		}
		
		button.cancel {
			@extend %buttons;
			margin-left: .4em;
			color: #c00;
			
			&:hover {
				background: #c00;
			}
		}
	}
}