.wysie-root[data-editing] [itemprop]:not([itemscope]) input, .wysie-root[data-editing] [itemprop]:not([itemscope]) select, .wysie-root[data-editing] [itemprop]:not([itemscope]) textarea,
.wysie-root[data-editing] [property]:not([typeof]) input,
.wysie-root[data-editing] [property]:not([typeof]) select,
.wysie-root[data-editing] [property]:not([typeof]) textarea, .wysie-root .wysie-buttons button.save, .wysie-root .wysie-buttons button.cancel {
  all: initial;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit; }

[data-store] {
  display: none; }

.wysie-root.wysie-item, .wysie-root *.wysie-item {
  position: relative; }
.wysie-root.delete-hover, .wysie-root *.delete-hover {
  box-shadow: 0 0 0 50vmax rgba(255, 0, 0, 0.06) inset, 0 0 0 0.1em rgba(255, 0, 0, 0.05);
  border-radius: .1em; }
.wysie-root button.add {
  display: inline-block;
  margin-left: .5em;
  vertical-align: middle; }
.wysie-root .edit,
.wysie-root .delete {
  all: initial;
  position: absolute;
  top: .1em;
  right: -1.5em;
  z-index: 1;
  padding: 0 .3em;
  cursor: pointer;
  transform: scale(-1, 1);
  color: rgba(0, 0, 0, 0.3); }
  .wysie-root .edit:hover,
  .wysie-root .delete:hover {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: white; }
.wysie-root .delete {
  color: rgba(180, 0, 0, 0.8); }
.wysie-root .delete:hover {
  background: rgba(180, 0, 0, 0.8); }
.wysie-root:not([data-editing]) .wysie-buttons,
.wysie-root:not([data-editing]) .empty,
.wysie-root:not([data-editing]) .delete,
.wysie-root:not([data-editing]) button.add {
  display: none; }
.wysie-root[data-editing] .edit {
  display: none; }
.wysie-root[data-editing] [itemprop]:not([itemscope]) textarea,
.wysie-root[data-editing] [property]:not([typeof]) textarea {
  box-sizing: border-box;
  width: 100%; }
.wysie-root[data-editing] [itemprop]:not([itemscope]).using-popup:hover, .wysie-root[data-editing] [itemprop]:not([itemscope]).using-popup:focus,
.wysie-root[data-editing] [itemprop]:not([itemscope]) input:hover,
.wysie-root[data-editing] [itemprop]:not([itemscope]) input:focus, .wysie-root[data-editing] [itemprop]:not([itemscope]) select:hover, .wysie-root[data-editing] [itemprop]:not([itemscope]) select:focus, .wysie-root[data-editing] [itemprop]:not([itemscope]) textarea:hover, .wysie-root[data-editing] [itemprop]:not([itemscope]) textarea:focus,
.wysie-root[data-editing] [property]:not([typeof]).using-popup:hover,
.wysie-root[data-editing] [property]:not([typeof]).using-popup:focus,
.wysie-root[data-editing] [property]:not([typeof]) input:hover,
.wysie-root[data-editing] [property]:not([typeof]) input:focus,
.wysie-root[data-editing] [property]:not([typeof]) select:hover,
.wysie-root[data-editing] [property]:not([typeof]) select:focus,
.wysie-root[data-editing] [property]:not([typeof]) textarea:hover,
.wysie-root[data-editing] [property]:not([typeof]) textarea:focus {
  outline: 1px dashed;
  outline-offset: 1px; }
.wysie-root[data-editing] [itemprop]:not([itemscope]).using-popup:hover,
.wysie-root[data-editing] [itemprop]:not([itemscope]) input:hover, .wysie-root[data-editing] [itemprop]:not([itemscope]) select:hover, .wysie-root[data-editing] [itemprop]:not([itemscope]) textarea:hover,
.wysie-root[data-editing] [property]:not([typeof]).using-popup:hover,
.wysie-root[data-editing] [property]:not([typeof]) input:hover,
.wysie-root[data-editing] [property]:not([typeof]) select:hover,
.wysie-root[data-editing] [property]:not([typeof]) textarea:hover {
  box-shadow: 0 0 0 2px rgba(255, 247, 0, 0.15), 0 0 0 99em rgba(255, 247, 0, 0.15) inset;
  outline-color: rgba(115, 132, 140, 0.3); }
.wysie-root[data-editing] [itemprop]:not([itemscope]).using-popup:focus,
.wysie-root[data-editing] [itemprop]:not([itemscope]) input:focus, .wysie-root[data-editing] [itemprop]:not([itemscope]) select:focus, .wysie-root[data-editing] [itemprop]:not([itemscope]) textarea:focus,
.wysie-root[data-editing] [property]:not([typeof]).using-popup:focus,
.wysie-root[data-editing] [property]:not([typeof]) input:focus,
.wysie-root[data-editing] [property]:not([typeof]) select:focus,
.wysie-root[data-editing] [property]:not([typeof]) textarea:focus {
  outline-color: rgba(51, 119, 153, 0.6); }
.wysie-root .popup {
  all: initial;
  position: absolute;
  z-index: 2;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .4em;
  margin: .3em 0 0 -.5em;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  background: white; }
  .wysie-root .popup::before {
    content: "";
    position: absolute;
    top: -.36em;
    left: 1em;
    padding: .3em;
    border: inherit;
    border-right-width: 0;
    border-bottom-width: 0;
    background: inherit;
    transform: rotate(45deg); }
  .wysie-root .popup input, .wysie-root .popup select {
    display: block;
    font: inherit;
    min-width: 100%; }
  .wysie-root .popup select[size] {
    border: 1px solid rgba(0, 0, 0, 0.2); }
.wysie-root .wysie-buttons {
  position: relative;
  padding: .5em 0 .1em;
  text-align: center; }
  .wysie-root .wysie-buttons button.save, .wysie-root .wysie-buttons button.cancel {
    padding: .4em .6em;
    border: 2px solid;
    border-radius: .4em;
    background: transparent;
    font: bold 80% Helvetica Neue, sans-serif;
    cursor: pointer; }
    .wysie-root .wysie-buttons button.save:hover, .wysie-root .wysie-buttons button.cancel:hover {
      background: black;
      color: white;
      border-color: transparent; }
  .wysie-root .wysie-buttons button.save {
    color: #81b814;
    font-weight: bold; }
    .wysie-root .wysie-buttons button.save:hover {
      background: #81b814; }
  .wysie-root .wysie-buttons button.cancel {
    margin-left: .4em;
    color: #c00; }
    .wysie-root .wysie-buttons button.cancel:hover {
      background: #c00; }
