$primitive: "[itemprop]:not([itemscope]), [property]:not([typeof])";

%reset {
	all: initial;
	font: inherit;
	color: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

[data-store] {
	// Unprocessed items
	display: none;
}

.wysie-item {
	position: relative;
	margin-right: 1.5em;
}

.wysie-wrapper {
	.delete-hover {
		box-shadow: 0 0 0 50vmax hsla(0,100%,50%,.06) inset, 0 0 0 .1em hsla(0,100%,50%,.05);
		border-radius: .1em;
	}

	button.add {
		display: inline-block;
		//margin-left: .5em;
		vertical-align: middle;
	}

	.delete {
		all: initial;
		position: absolute;
		top: .1em;
		right: .1em;
		z-index: 1;
		padding: 0 .3em;
		cursor: pointer;
		transform: scale(-1, 1);
		color: rgba(180,0,0,.8);

		&:hover {
			border-radius: 50%;
			background: rgba(180,0,0,.8);
			color: white;
		}
	}

	.popup {
		all: initial;
		position: absolute;
		z-index: 2;
		padding: 1em;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: .4em;
		margin: .3em 0 0 -.5em;
		box-shadow: 0 .1em .3em rgba(0,0,0,.3);
		background: white;
		transform-origin: -1.4em -0.45em; // Magic numbers. No idea why.
		transition: .3s transform;

		&::before {
			content: "";
			position: absolute;
			top: -.36em;
			left: 1em;
			padding: .3em;
			border: inherit;
			border-right-width: 0;
			border-bottom-width: 0;
			background: inherit;
			transform: rotate(45deg)
		}

		&.hidden {
			transform: scale(0);
		}

		input, select {
			display: block;
			font: inherit;
			min-width: 100%;
		}

		select[size] {
			border: 1px solid rgba(0,0,0,.2);
		}

		.image-popup {
			.image-preview {
				position: relative;
				display: inline-block;

				progress {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 1em;
					width: 100%;

					&[value="0"],
					&[value="100"] {
						display: none;
					}
				}

				img {
 					display: block;
					max-width: 100%;
				}
			}

			.upload {
				display: block;
				margin: .8em 0;
			}

			.tip {
				font-size: 70%;
				color: gray;
			}
		}
	}

	&.readonly {
		.edit, [data-editing], .add {
			display: none;
		}
	}

	&.authenticated .auth-controls .login,
	&:not(.authenticated) .auth-controls .logout {
		display: none;
	}

	.progress {
		margin-top: .5em;
		font-size: 80%;

		&::before {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">\
				<style>\
					@keyframes dasharray { 50% { stroke-dasharray: 0 100 100 } to { stroke-dasharray: 100 100 100 } } \
					circle { \
						fill: none; \
						stroke: currentColor; stroke-width: 8; stroke-opacity: .6; stroke-dasharray: 0 0 100; \
						animation: dasharray 2s infinite; \
					} \
				</style>\
				<circle r="16" cx="50%" cy="50%" transform="rotate(-90, 20, 20)" /></svg>');
			display: inline-block;
			vertical-align: middle;
			margin-right: .2em;
		}
	}

	&:not([data-editing]) {
		.empty,
		.delete,
		button.add,
		.save,
		.cancel {
			display: none;
		}
	}

	&[data-editing] {
		.edit {
			display: none;
		}

		.empty {
			opacity: .5;
		}

		// Primitives
		#{$primitive} {
			&:hover {
				$color: hsla(58, 100%, 50%, .2);

				box-shadow: 0 0 0 2px $color, 0 0 0 99em $color inset;
			}

			&:focus,
			.wysie-editor:focus {
				outline: 1px dashed hsla(200,50%,40%,.6);
				outline-offset: 1px;
			}

			input, select, textarea {
				@extend %reset;
			}

			textarea {
				box-sizing: border-box;
				width: 100%;
			}

			&.using-popup,
			input, select, textarea {
				/*&:hover, &:focus {
					outline: 1px dashed;
					outline-offset: 1px;
				}

				&:hover {
					$color: hsla(58, 100%, 50%, .15);

					box-shadow: 0 0 0 2px $color, 0 0 0 99em $color inset;
					outline-color: hsla(200,10%,50%,.3);
				}

				&:focus {
					outline-color: hsla(200,50%,40%,.6);
				}*/
			}
		}
	}
}

.wysie-bar {
	all: initial;
	position: fixed;
	z-index: 99999; // this is wrong, but must override other wrong things :(
	color: white;
	font-family: inherit;
	font-size: 1rem;

	.wysie-wrapper.authenticated & {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		padding: 0 .5em 0 6em;
		background: black;
		background: url("logo-small.svg") .5em .15em / auto 100% no-repeat, linear-gradient(hsla(0,0%,10%,.9), black);

		.login {
			display: none;
		}
	}

	.wysie-wrapper:not(.authenticated) & {
		top: 1em;
		right: 1em;

		&:not(:hover):not(:focus) {
			opacity: .6;
		}

		button, .button {
			border-radius: .3em;
			border: 1px solid black;
			background: rgba(0,0,0,.8);
		}

		.logout, .status {
			display: none;
		}
	}

	button, .button {
		padding: .3em .6em .4em;
		border: 0;
		background: transparent;
		font: inherit;
		font-weight: bold;
		color: inherit;
		cursor: pointer;

		&:hover {
			background: hsla(0,0%,100%,.2);
		}

		.icon {
			color: hsla(0,0%,100%,.5);
		}
	}

	a.button {
		text-decoration: none;
	}

	.edit:hover {

	}

	.save:hover {
		background: hsl(80, 80%, 40%);
	}

	.cancel:hover {
		background: #c00;
	}

	.status {
		flex: 1;
		line-height: 1.8;
	}

	.logout {
		margin-left: .6em;
	}

	.status:empty {
		content: "Not logged in";
	}
}

// Temporary, good for debugging keyboard usability
:focus {
	outline: 3px solid #f06 !important;
}
