body {
	padding: 50px;
	font: 100% Helvetica Neue, sans-serif;
}

h1 {
	padding: 1.5rem;
	margin: 0;
	font: 300 160% Helvetica Neue, sans-serif;
}

main {
	width: 40rem;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

#data {
	display: block;
	font: 100%/1.5 Consolas, Monaco, monospace;
	white-space: pre;
	background: hsl(0, 0%, 96%);
	padding: .6em;
	margin: 3em 0 1em;
	overflow: auto;
	tab-size: 4;
	box-shadow: 1px 1px 4px rgba(0,0,0,.2) inset;
}

	#data:empty {
		visibility: hidden;
	}

.inputs {
	display: flex;
	padding: .8rem 0;
	margin-bottom: .5rem;
	background: hsl(0,0%,96%);
}

	.inputs > label {
		flex: 1;
		padding: 1em;
		margin: 0 .5em;
		color: rgba(0,0,0,.6);
		font-size: 80%;
	}

	.inputs input {
		display: block;
		box-sizing: border-box;
		width: 100%;
		font-size: 160%;
		background: transparent;
		padding: .2em 0;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.5);
		color: black;
	}


.outputs {
	padding: 1rem 2em;
	font-size: 80%;
}

	.outputs > div {
		display: flex;
		margin: .8em 0;
		align-items: baseline;
	}

	.total {
		color: rgba(0,0,0,.5);
	}

		.outputs > div span {
			display: inline-block;
			margin-left: auto;
		}

	.amazing-rate {
		color: hsl(80, 80%, 40%);
		font-weight: bold;
	}

	.payment {
		display: inline-block;
		font-size: 180%;
	}

		.payment::before {
			content: "$"
		}
