.mv-bar.mv-ui {
	all: initial;
	visibility: inherit;
	display: flex;
	color: white;
	padding: 0 .5em 0 6em;
	background: url("https://mavo.io/logo.svg") .5em 50% / auto 50% no-repeat;
	background-color: hsla(0,0%,10%,.7);
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;

	a {
		text-decoration: none;
	}

	&.mv-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000; // this is wrong, but must override other wrong things :(
	}

	&:not(.mv-fixed) {
		border-radius: .3em;
		margin-bottom: 1em;
	}

	button, .mv-button {
		all: unset;
		font-weight: bold;
		cursor: pointer;
		background: transparent;
		color: inherit;

		&:enabled:hover {
			background: hsla(0,0%,100%,.2);
		}

		&:disabled {
			opacity: .6;
			cursor: not-allowed;
		}
	}

	& > button,
	& > .mv-button {
		padding: .35em .6em;
		border: 0;
		text-align: center;

		&:first-child {
			margin-left: auto;
		}

		&::before {
			display: inline-block;
			vertical-align: -.1em;
			margin-right: .3em;
			color: white;
			opacity: .5;
			font-weight: normal;
		}

		&:enabled:hover::before {
			opacity: .8;
		}
	}

	.mv-avatar {
		all: unset;
		display: inline-block;
		vertical-align: -.1em;
		max-height: 1em;
	}

	.mv-login {
		&::before {
			content: "🔑 ";
			filter: brightness(160%) grayscale(100%);
		}

		&::after {
			content: " to " var(--mv-backend);
		}
	}

	.mv-edit {
		&::before {
			content: "✎";
		}

		[mv-app][mv-mode="edit"] & {
			background: rgba(0,0,0,.6);
			box-shadow: .2em 0 .1em -.1em black inset, -.2em 0 .1em -.1em black inset;

			&::after {
				content: "ing";
			}
		}
	}

	.mv-save {
		position: relative;

		&::before {
			content: "✓";
		}

		[mv-app][mv-progress="Saving"] & {
			color: hsla(0,0%,100%,.2);

			&::before {
				opacity: .2;
			}

			&::after {
				content: $loader;
				position: absolute;
				top: .5em;
				right: .5em;
				bottom: .5em;
				left: .5em;
			}
		}

		[mv-app].mv-unsaved-changes &,
		[mv-app].mv-unsaved-changes &::before {
			text-shadow: 0 0 .2em hsl(200, 100%, 70%), 0 0 .3em hsl(200, 100%, 70%);
		}

		&:hover {
			background: hsl(180, 50%, 50%);
		}
	}

	.mv-clear {
		&::before {
			@extend %rubbish-bin;
			vertical-align: -.25em;
			width: .9em;
			filter: saturate(0) brightness(600%);
		}

		&:enabled:hover {
			background: #b00;
		}
	}

	.mv-logout {
		&::before {
			content: "↪";
		}
	}

	.mv-status {
		flex: 1;
		line-height: 2.4;
		padding-right: .4em;
		margin-top: auto;
		margin-bottom: auto;
	}

	[mv-permissions~="logout"] &:not(.mv-compact) {
		// Logged in styles
		.mv-status::before {
			content: "Logged in to " var(--mv-backend) " as ";
		}
	}

	// Displaying mv-bar in small spaces
	&.mv-compact {
		padding: 0 .5em 0 2.5em;
		background-image: url("https://mavo.io/favicon.svg");
	}

	&.mv-tiny {
		& > button:not(.mv-login),
		& > .mv-button:not(.mv-login) {
			// Hide text
			width: 1em;
			position: relative;
			overflow: hidden;
			text-indent: -999em;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-indent: 0;
			}
		}
	}
}

[mv-app][mv-bar="none"] .mv-bar,
.mv-bar:empty {
	display: none;
}
