body {
	max-width: 50em;
	margin: 3em auto;
}

article, li {
	padding: .5em;
	border: 1px solid rgba(0,0,0,.2);
	margin: .5em 0;
}

article > h1 {
	margin: 0;
	padding: .3em .5em;
	background: hsl(176, 60%, 35%);
	color: white;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	display: block;
	padding: .5em .8em;
	margin: .5em;
	border-color: 1px solid rgba(0,0,0,.1);
	box-sizing: border-box;
}

	li::after {
		content: "";
		display: block;
		clear: both;
	}

	li img {
		display: block;
		float: left;
		width: 10em;
		min-height: 8em;
		margin-right: 2em;
		object-fit: cover;
		background: linear-gradient(to bottom right, transparent 49.5%, rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 50.5%, transparent 0),
					linear-gradient(to top right, transparent 49.5%, rgba(0,0,0,.1) 0, rgba(0,0,0,.1) 50.5%, transparent 0);
		background-color: rgba(0,0,0,.1);
	}

	li dl {

	}

	li dt {
		display: inline-block;
		min-width: 6em;
	}

	li dd {
		display: inline;
	}

	li dd:not(:last-child)::after {
		content: "\A";
		white-space: pre;
	}

	li dd {
		font-weight: bold;
	}

.wysie-wrapper button.wysie-add {
	display: block;
}

.expensive {
	color: red;
	font-weight: bold;
}

.room-total {
	margin: 0;
	padding: .5em;
	background: hsl(176, 20%, 95%);
}
