[property], [data-multiple] {
	position: relative;
	--color: hsla(20, 100%, 50%, .4);
	outline: 2px solid var(--color);
}

	[property]::before,
	[data-multiple]::before {
		content: "P";
		position: absolute;
		bottom: 100%;
		left: 0;
		background: var(--color);
		color: white;
		border-radius: .3em .3em 0 0;
		padding: .1em .4em;
		font-weight: bold;
	}

[data-multiple] {
	--color: hsla(330, 100%, 50%, .5);
}
