body {
	margin: 0;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

header {
	background: linear-gradient(hsla(200, 50%, 50%, .8), hsla(200, 50%, 50%, .8)), url(logo.svg) 100% -35% / auto 150% no-repeat;
	background-color: hsl(200, 50%, 50%);
	color: white;
	padding: 3em 1em .6em;
	text-align: center;
}

	header > h1 {
		margin: 0;
	}

	header > h1 img {
		max-height: 2.2em;
	}

main {
	display: flex;
	flex: 1;
	padding: 1em;
}

	.mce-edit-area > iframe {
		height: calc(100vh - 19.6em) !important;
	}

	main > * {
		flex: 1;
	}

	main > #result {
		border: 0;
		margin-left: 1em;
		background: hsl(0, 0%, 96%);
	}
