svg {
	display: block;
	overflow: visible;
	margin: 10em auto;
}

svg * {
	transform-box: fill-box;
}

label {
	display: inline-block;
}

fieldset {
	border: 1px solid silver;
	border-radius: .4em;
}

	fieldset > label {
		width: 24%;
	}

input {
	font: inherit;
}

svg {
	/*-webkit-filter: drop-shadow(0 400px gray);
	filter: drop-shadow(0 400px gray);*/
}

#black-logo {
	-webkit-filter: brightness(0%);
	opacity: .5;
}
