$background: hsl(220,8%,60%);

$sans: Helvetica Neue, sans-serif;
$serif: Baskerville, Palatino Linotype, Palatino, serif;

body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1em;
	background: $background;
	font: 120% $sans;
	text-align: center;
}

button {
	cursor: pointer;
}

a {
	color: inherit;

	&:not(:hover):not(:focus) {
		text-decoration: none;
	}
}

main > h1 {
	position: relative;
	width: fit-content;
	margin: .5em auto;
	color: white;
	font: italic 400% $serif;
	text-transform: lowercase;

	span {
		display: inline-block;
		margin-left: .1em;
		color: rgba(0,0,0,.6);
		font: bold 75% $sans;
		letter-spacing: -.05em;
	}
}

// Restaurant
main > article {
	$padding: 2.5em;

	max-width: 35em;
	padding: $padding;
	margin: 2em auto;
	background: white;
	color: black;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);

	& > header {
		position: relative;
		width: 100%;
		padding: inherit;
		padding-bottom: $padding/2;
		margin: -$padding;
		margin-bottom: 0;
		background: hsl(180, 40%, 50%);
		color: white;
		text-shadow: 0 0 .1em rgba(0,0,0,.5);
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: -1em;
			left: -1em;
			right: -1em;
			bottom: -1em;
			background: center / cover;
			background-image: inherit;
			filter: brightness(.8) blur(.8em);
		}

		img {
			width: 5em;
			height: 5em;
			border-radius: 5em;
			object-fit: cover;
			box-shadow: 0 0 0 .3em hsla(0,0%,100%,.4);
		}

		& > a, & > p, & > img {
			position: relative;
			z-index: 1;
		}

		h1 {
			margin: 0;
			font-size: 250%;
			font-weight: 300;

			& + p {
				text-align: center;
			}
		}

		meter {
			$width: 8em;

			width: $width;
			height: 1.6em;
			margin-right: 0;
			appearance: none;

			@mixin stars($color: white) {
				background: radial-gradient(closest-side circle at 60% 50%, $color 90%, transparent) 0 0;
				background-size: $width/5 100%;
			}

			&::-webkit-meter-bar {
				@include stars(hsla(0,0%,100%,.2));
			}

			&::-webkit-meter-optimum-value,
			&::-webkit-meter-suboptimum-value {
				@include stars();
			}
		}
	}

	// Visits
	& > section {
		text-align: left;

		& > h1 {
			padding: .3rem .5rem;
			border-bottom: .2em solid;
			color: rgba(5,0,10,.4);
			line-height: 1;
			font-weight: normal;
		}

		// Visit
		& > article {
			$padding: 1em;

			padding: $padding;
			margin: .6em 0;
			border: 1px solid rgba(0,0,0,.1);
			font-family: $serif;

			& > header {
				display: flex;
				background: rgba(0,0,0,.1);
				padding: $padding/2;
				margin: -$padding;
				margin-bottom: $padding;

				& > h1 {
					flex: 1;
					width: 100%;
					padding: $padding/2;
					margin: 0;
					font: bold 100% $sans;

					div {
						font-weight: normal;
					}
				}

				// Rating
				& > p {
					display: flex;
					align-items: center;
					width: min-content;
					padding: .8em;
					border-radius: .4em;
					margin: 0;
					background: rgba(0,0,0,.35);
					text-align: right;
					font: 65% $sans;
					color: white;

					span {
						flex: 1;
						padding-left: .2em;
						border-left: 1px solid hsla(0,0%,100%,.3);
						margin-left: .2em;
						font-size: 350%;
						line-height: 1;
					}
				}
			}

			// Dishes
			& > section {
				& > h1 {
					margin: .5em 0;
					color: rgba(0,0,0,.5);
					font: bold 100% $sans;
				}

				// Dish
				ul {
					list-style: none;
					margin: 0;
					padding-left: 1.4em;
				}

				li {
					&::before {
						content: "🍴";
						position: absolute;
						right: 100%;
						margin-right: .5em;
					}

					p:first-of-type {
						font-style: italic;
					}

					& + li {
						margin-top: .3em;
					}
				}

				meter {
					$width: 8em;
					display: inline-block;
					vertical-align: middle;
					width: $width;
					height: .8em;
					margin-right: .3em;
					appearance: none;
					background: transparent;
					border: 1px solid;

					&[min="1"] {
						border-left: $width/5 solid;
					}

					&::-webkit-meter-bar {
						background: transparent;
					}

					&::-webkit-meter-optimum-value,
					&::-webkit-meter-suboptimum-value {
						background: currentColor;
					}
				}
			}
		}
	}
}

main > .wysie-add {
	padding: .4em .6em;
	border: 1px solid rgba(0,0,0,.05);
	background: darken($background, 10%);
	color: white;
	font-size: 120%;
	border-radius: .2em;

	&:hover {
		background: darken($background, 20%);
	}
}

footer {
	margin-top: 2em;
	color: darken($background, 15%);
}

#data {
	display: block;
	font: 100%/1.5 Consolas, Monaco, monospace;
	white-space: pre;
	background: hsla(0,0,90%,.2);
	padding: .6em;
	margin: 3em 0 1em;
	overflow: auto;
	tab-size: 4;
	box-shadow: 1px 1px 4px rgba(0,0,0,.3) inset;
	text-align: left;
}

	#data:empty {
		visibility: hidden;
	}

::placeholder {
	color: hsla(0,0%,46%,.6);
}
