@charset "UTF-8";
body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1em;
  background: #9196a1;
  font: 120% Helvetica Neue, sans-serif;
  text-align: center; }

button {
  cursor: pointer; }

a {
  color: inherit; }
  a:not(:hover):not(:focus) {
    text-decoration: none; }

main > h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: .5em auto;
  color: white;
  font: italic 400% Baskerville, Palatino Linotype, Palatino, serif;
  text-transform: lowercase; }
  main > h1 span {
    display: inline-block;
    margin-left: .1em;
    color: rgba(0, 0, 0, 0.6);
    font: bold 75% Helvetica Neue, sans-serif;
    letter-spacing: -.05em; }

main > article {
  max-width: 35em;
  padding: 2.5em;
  margin: 2em auto;
  background: white;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }
  main > article > header {
    position: relative;
    width: 100%;
    padding: inherit;
    padding-bottom: 1.25em;
    margin: -2.5em;
    margin-bottom: 0;
    background: #4db3b3;
    color: white;
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    main > article > header::before {
      content: "";
      position: absolute;
      top: -1em;
      left: -1em;
      right: -1em;
      bottom: -1em;
      background: center / cover;
      background-image: inherit;
      -webkit-filter: brightness(0.8) blur(0.8em);
      filter: brightness(0.8) blur(0.8em); }
    main > article > header img {
      width: 5em;
      height: 5em;
      border-radius: 5em;
      object-fit: cover;
      box-shadow: 0 0 0 0.3em rgba(255, 255, 255, 0.4); }
    main > article > header > a, main > article > header > p, main > article > header > img {
      position: relative;
      z-index: 1; }
    main > article > header h1 {
      margin: 0;
      font-size: 250%;
      font-weight: 300; }
      main > article > header h1 + p {
        text-align: center; }
    main > article > header meter {
      width: 8em;
      height: 1.6em;
      margin-right: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      main > article > header meter::-webkit-meter-bar {
        background: radial-gradient(closest-side circle at 60% 50%, rgba(255, 255, 255, 0.2) 90%, transparent) 0 0;
        background-size: 1.6em 100%; }
      main > article > header meter::-webkit-meter-optimum-value, main > article > header meter::-webkit-meter-suboptimum-value {
        background: radial-gradient(closest-side circle at 60% 50%, white 90%, transparent) 0 0;
        background-size: 1.6em 100%; }
  main > article > section {
    text-align: left; }
    main > article > section > h1 {
      padding: .3rem .5rem;
      border-bottom: .2em solid;
      color: rgba(5, 0, 10, 0.4);
      line-height: 1;
      font-weight: normal; }
    main > article > section > article {
      padding: 1em;
      margin: .6em 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-family: Baskerville, Palatino Linotype, Palatino, serif; }
      main > article > section > article > header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: rgba(0, 0, 0, 0.1);
        padding: 0.5em;
        margin: -1em;
        margin-bottom: 1em; }
        main > article > section > article > header > h1 {
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 100%;
          padding: 0.5em;
          margin: 0;
          font: bold 100% Helvetica Neue, sans-serif; }
          main > article > section > article > header > h1 div {
            font-weight: normal; }
        main > article > section > article > header > p {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          width: -webkit-min-content;
          width: -moz-min-content;
          width: min-content;
          padding: .8em;
          border-radius: .4em;
          margin: 0;
          background: rgba(0, 0, 0, 0.35);
          text-align: right;
          font: 65% Helvetica Neue, sans-serif;
          color: white; }
          main > article > section > article > header > p span {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding-left: .2em;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            margin-left: .2em;
            font-size: 350%;
            line-height: 1; }
      main > article > section > article > section > h1 {
        margin: .5em 0;
        color: rgba(0, 0, 0, 0.5);
        font: bold 100% Helvetica Neue, sans-serif; }
      main > article > section > article > section ul {
        list-style: none;
        margin: 0;
        padding-left: 1.4em; }
      main > article > section > article > section li::before {
        content: "🍴";
        position: absolute;
        right: 100%;
        margin-right: .5em; }
      main > article > section > article > section li p:first-of-type {
        font-style: italic; }
      main > article > section > article > section li + li {
        margin-top: .3em; }
      main > article > section > article > section meter {
        display: inline-block;
        vertical-align: middle;
        width: 8em;
        height: .8em;
        margin-right: .3em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 1px solid; }
        main > article > section > article > section meter[min="1"] {
          border-left: 1.6em solid; }
        main > article > section > article > section meter::-webkit-meter-bar {
          background: transparent; }
        main > article > section > article > section meter::-webkit-meter-optimum-value, main > article > section > article > section meter::-webkit-meter-suboptimum-value {
          background: currentColor; }

main > .wysie-add {
  padding: .4em .6em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #757c8a;
  color: white;
  font-size: 120%;
  border-radius: .2em; }
  main > .wysie-add:hover {
    background: #5e636e; }

footer {
  margin-top: 2em;
  color: #6a707c; }

#data {
  display: block;
  font: 100%/1.5 Consolas, Monaco, monospace;
  white-space: pre;
  background: rgba(230, 230, 230, 0.2);
  padding: .6em;
  margin: 3em 0 1em;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  text-align: left; }

#data:empty {
  visibility: hidden; }

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.6); }

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::placeholder {
  color: rgba(117, 117, 117, 0.6); }
