@font-face {
  font-family: IcoMoon;
  src: url("img/icomoon.woff") format("woff"); }

body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1em;
  background: url(img/rolodex.jpg) #c4c1ba top fixed;
  font: 120%/1.5 Helvetica Neue, sans-serif; }

button {
  cursor: pointer; }

a {
  color: inherit; }
  a:not(:hover):not(:focus) {
    text-decoration: none; }

body > h1 {
  position: fixed;
  top: .2em;
  right: .4em;
  color: white;
  font: italic 400%/1 Baskerville, Palatino Linotype, Palatino, serif;
  text-transform: lowercase;
  font-variant-numeric: oldstyle-nums; }
  body > h1 span {
    display: inline-block;
    margin-left: .1em;
    color: rgba(0, 0, 0, 0.6);
    font: bold 75% Helvetica Neue, sans-serif;
    letter-spacing: -.05em; }

details {
  max-width: 35rem;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
  details > summary {
    position: relative;
    cursor: pointer;
    padding: 1em;
    outline: none; }
    details > summary:hover {
      background: rgba(255, 255, 255, 0.2); }
    details > summary::-webkit-details-marker {
      display: none; }
    details > summary::before {
      content: "";
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -3px;
      left: -1px;
      z-index: -1;
      background: url(img/rolodex.jpg) #c4c1ba top fixed;
      -webkit-filter: blur(6px);
      filter: blur(6px);
      overflow: hidden; }
    details > summary img {
      float: left;
      width: 3em;
      height: 3em;
      margin-right: 1em;
      border-radius: 5em;
      object-fit: cover;
      box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.3); }
    details > summary img[src=""],
    details > summary img:not([src]) {
      background: white;
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" fill="%23666">						<circle cx="50" cy="40" r="22" />						<circle cx="50" cy="110" r="50" />					</svg>'); }
    details > summary h1 {
      margin: 0;
      font-size: 150%;
      font-weight: bold;
      letter-spacing: -.05em;
      line-height: 1.3; }
      details > summary h1 .affiliation {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        font-size: 65%;
        font-weight: normal;
        letter-spacing: -.01em; }
  details[open] > summary {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5); }
  details > section {
    background: white;
    padding: .5em;
    margin: 0; }
    details > section > section:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    details > section article {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: .8em 1em; }
      details > section article span:first-of-type {
        min-width: 7em;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        font-size: 80%;
        line-height: 1.875; }
      details > section article span:nth-of-type(2) {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
    details > section button.mv-add {
      margin: 0 0 1em 1.6em;
      border: none;
      border-radius: .3em;
      background: #70c2ad;
      color: white;
      font: inherit;
      font-size: 62%;
      text-transform: uppercase;
      font-weight: bold; }
      details > section button.mv-add:hover {
        background: #3d8f7a; }
      details > section button.mv-add:focus {
        background: orange;
        outline: none; }
    details > section a {
      display: block;
      width: 1.6rem;
      padding: .1rem;
      border-radius: 50%;
      margin-top: -.1rem;
      text-align: center;
      font: 110%/1.6rem IcoMoon;
      color: orange;
      background: white;
      text-decoration: none; }
      details > section a:hover {
        background: orange;
        box-shadow: 0 0 0 0.3rem orange;
        color: white; }
      details > section a[title="Call"] {
        font-size: 130%; }
        details > section a[title="Call"]:hover {
          box-shadow: 0 -0.1rem 0 0.3rem orange; }

button.mv-add.add-contact {
  position: relative;
  display: block;
  padding: .4em .6em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  background: rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 120%;
  border-radius: .3em;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px); }
  button.mv-add.add-contact:hover {
    background: rgba(255, 255, 255, 0.5); }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

::placeholder {
  color: rgba(0, 0, 0, 0.6); }

body > footer {
  max-width: 35rem;
  margin: 3em auto;
  text-align: center;
  font-size: 70%;
  color: white;
  text-shadow: 0 0 2px black; }

/*# sourceMappingURL=style.css.map */
