.footnote {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 50%;
	padding: 1em;
	margin: 0;
	opacity: .6;
}

.slide:target {
	display: flex;
}

.slide {
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#intro, #mavo {
	background: hsl(348, 37%, 68%);
}

	#intro:target,
	#mavo:target {
		display: flex;
	}

	.slide .logo {
		margin: 0;
		width: 500px;
		font: 300 28px Helvetica Neue, sans-serif;
		letter-spacing: .15em;
		text-transform: uppercase;
		color: white;
		text-align: center;
		white-space: nowrap;
		transition: 1s;
	}

	.slide:not([data-step]) .logo {
		color: transparent;
	}

	.slide .logo img {
		display: block;
		margin-bottom: -.6em;
	}

	#intro .attribution {
		position: absolute;
		left: 0; right: 0; bottom: 0;
		padding: .5em;
		margin: 0;
		background: hsl(0, 15%, 40%);
		text-align: center;

		color: white;
		font-size: 80%;
	}

		#intro .attribution a {
			text-decoration: none;
		}

footer.slide {
	text-align: center;
	padding-top: 1em;
}

	footer.slide h1 {
		margin-top: .3em;
	}

	footer.slide > ul {
		margin: 0;
		width: fit-content;
		color: #f06;
		text-align: left;
	}

		footer.slide > ul a {
			color: white;
			text-decoration: none;
		}

	footer.slide p {
		margin-top: 3em;
	}

#survey {}

	#survey h1 {

	}

	#survey strong:first-of-type {
		display: block;
		font-size: 400%;
		line-height: 1;
		letter-spacing: -.05em;
	}

	#survey sup {
		font-weight: normal;
		font-size: 50%;
	}

/*.speech-bubbles {
	list-style: none;
	display: flex;
	flex-flow: column;
	width: 100%;
	font-size: 180%;
}

	.speech-bubbles li {
		position: relative;
		background: white;
		color: black;
		border-radius: .4em;
		padding: .2em .6em;
		margin: .5em;
		align-self: flex-start;
	}

	.speech-bubbles li:nth-child(even) {
		align-self: flex-end;
	}

	.speech-bubbles li::before {
		content: "";
		position: absolute;
		bottom: -.4em;
		width: .6em;
		height: .4em;
		background: linear-gradient(to top right, transparent 50%, white 0);
	}

	.speech-bubbles li:nth-child(odd)::before {
		transform: skewX(-20deg) scaleX(-1);
	}

	.speech-bubbles li:nth-child(even)::before {
		transform: skewX(20deg);
		right: 1em;
	}*/

#goals {

}

	#goals img.delayed {
		display: block;
		margin-top: 1em;
	}

#idea {
	background: black url(img/lightbulb.jpg) no-repeat top left / auto 75vh;
	padding-left: 10vh;
}

	#idea h1 {
		margin: 0 0 .2em;
	}

	#idea ul {
		position: absolute;
		display: inline;
		margin: 0 0 0 .4em;
		padding: 0;
		list-style: none;
		font-weight: bold;
		color: #65a0d4;
	}

		#idea ul li {
			white-space: nowrap;
			transition: .5s;
		}

		#idea ul li.displayed {
			opacity: 0;
			height: 0;
		}

		#idea ul li:first-of-type:not(.displayed) {
			opacity: 1;
			height: auto;
		}

.slide pre {
	font-size: 80%;
	overflow: visible;
}

.dropbox.slide {
	background-color: white;
	background-size: contain;
}

.token.reference {
	color: hsl(198, 100%, 60%);
}

.attr-name:not(.highlight) {
	color: hsl(80, 10%, 50%);
}

.attr-name:not(.highlight) + .attr-value {
	color: hsl(198, 10%, 60%);
}

#indicator {
	pointer-events: none;
}
