@font-face {
	font-family: GnuMICR;
	src: url("GnuMICR.ttf");
}

@page {
	size: letter;
	margin: 0;
}

html {
	text-align: center;
	font: 10pt/1.4 Helvetica;
}

@media screen {
	body {
		width: 8.5in;
		padding: 2rem;
		margin: auto;
		background: hsl(230, 10%, 60%);
	}
}

body > button.add {
	display: block;
	padding: .3em .5em;
	border: 0;
	border-radius: .3em;
	margin: .5em auto;
	font-size: 200%;
	color: white;
	background: hsl(230, 10%, 45%);
	cursor: pointer;
}

	body > button.add:hover {
		background: hsl(230, 10%, 35%);
	}

body > header {
	margin-bottom: 2em;
}

	body > header > h1 {
		text-align: left;
		width: min-content;
		border: 3px double hsla(0,0%,100%,.6);
		padding: 0 .15em 0 .1em;
		margin: 0;
		font: italic 400%/.48 Baskerville, Palatino, serif;
		height: .65em;
		color: white;
		text-shadow: .1em 0 hsl(230, 10%, 60%), -.1em 0 hsl(230, 10%, 60%),
		             .05em 0 hsl(230, 10%, 60%), -.05em 0 hsl(230, 10%, 60%);
	}

		body > header > h1::before {
			content: "my";
			color: black;
			text-shadow: none;
		}

.myinfo {
	display: flex;
	justify-content: space-between;
	text-align: left;
	margin: 1.5em 0;
}

	.myinfo [aria-label] {
		flex: 1;
		font-size: 150%;
		color: white;
	}

	.myinfo [aria-label]::before {
		content: attr(aria-label);
		display: block;
		font-size: 50%;
		text-transform: uppercase;
		color: black;
	}


	@media print {
		body > header {
			display: none;
		}
	}

.cheque {
	padding: 8pt;
	break-before: always;
	break-after: always;
	background: white;
	text-align: left;
}

	@media screen {
		.cheque {
			box-shadow: .1em .1em .5em rgba(0,0,0,.6);
			margin-bottom: 1em;
		}
	}

	@media print {
		.cheque {
			margin-bottom: 12pt;
		}

		.cheque::after {
			content: "✂";
			display: block;
			margin: 18pt 0 0;
			border-bottom: 2pt dotted;
			line-height: 0;
			color: #ccc;
			font-size: 150%;
		}
	}

	.cheque .details {
		position: relative;
		border: 2pt solid;
		border-radius: 1em;
		padding: .4in .8in .2in .6in;
		margin-bottom: 1em;
	}

		.cheque .id.number {
			position: absolute;
			top: 1em;
			right: .8in;
		}

address {
	white-space: pre-line;
	font-style: normal;
	width: max-content;
}

.details [aria-label] {
	margin-left: 1em;
}

	.details [aria-label]::before {
		content: attr(aria-label);
		float: left;
		position: absolute;
		max-width: 5em;
		font-size: 60%;
		font-weight: bold;
		text-transform: uppercase;
	}

.recipient,
.memo {
	max-width: 25em;
}

.recipient {
	min-height: 3em;
}

	.recipient::before,
	.amount-words::before,
	.memo::before {
		left: 1em;
	}

	.amount::before,
	.date::before {
		right: 12rem;
	}

	.amount::before,
	.recipient::before,
	.amount-words::before,
	.memo::before {
		padding: .4em 1.3em .4em .5em;
		border-radius: .2em;
		background: black;
		color: white;
		--corner: .6em;
		-webkit-clip-path: polygon(0 0, calc(100% - var(--corner)) 0%, 100% 50%, calc(100% - var(--corner)) 100%, 0% 100%);
	}

	.amount::before {
		padding: 0 1em 0 .5em;
		font-size: 100%;
		font-weight: normal;
	}

	.date::before {
		font-size: 70%;
		line-height: 2.2;
	}

	.recipient::before {
		--corner: 1em;
	}

	.amount-words {
		margin-top: .4in;
	}

.date,
.amount {
	min-width: 5.4em;
	float: right;
	clear: both;
	text-align: right;
}

.signature {
	position: absolute;
	bottom: .15in;
	right: .8in;
	width: 2.6in;
	padding-top: .3em;
	border-top: 2pt solid;
	text-align: center;
	font-size: 60%;
	font-weight: bold;
	text-transform: uppercase;
}

.cheque footer {
	font-family: GnuMICR;
	text-align: center;
	font-size: 120%;
}

	.cheque-number::before,
	.cheque-number::after,
	.account-number::after {
		content: "C";
	}

	.routing-number::before,
	.routing-number::after {
		content: "A";
	}
