body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1em;
  background: #9196a1;
  font: 120% Helvetica Neue, sans-serif;
  text-align: center; }

button {
  cursor: pointer; }

main > h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: .5em auto 1em;
  color: white;
  font-size: 180%;
  line-height: 1.1; }
  main > h1 span {
    display: block;
    color: black;
    position: relative;
    z-index: 1; }
  main > h1::before, main > h1::after {
    content: "?";
    position: absolute;
    right: -1.2rem;
    top: -0.89rem;
    min-width: 1.1em;
    text-align: center;
    border-radius: 50%;
    color: #9196a1;
    font-size: 250%;
    font-weight: bold; }
  main > h1::before {
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    color: transparent; }

h1 {
  text-align: center; }

article {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 35em;
  padding: 2.5em;
  margin: 2em auto;
  background: white;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }
  article > header {
    width: 100%;
    padding: inherit;
    padding-bottom: 1.25em;
    margin: -2.5em;
    margin-bottom: 0;
    transition: .5s background; }
    article > header.answer-Yes {
      background: #81b814;
      color: white; }
    article > header.answer-Maybe {
      background: gold; }
    article > header.answer-No {
      background: #cc0000;
      color: white; }
    article > header h1 {
      margin: 0;
      font-size: 250%;
      font-weight: 300; }
      article > header h1 + p {
        text-align: center; }
  article > section {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 2em 1px 0;
    text-align: left; }
    article > section h2 {
      color: white;
      margin: 0;
      padding: .3rem .5rem;
      border-bottom: .2em solid;
      line-height: 1;
      font-weight: normal; }
    article > section ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      article > section ul li {
        margin: 1px 0;
        transition: .5s background; }
        article > section ul li p {
          margin: 0; }
        article > section ul li p + p {
          margin-top: 1em;
          font-size: 80%; }
        article > section ul li meter {
          display: inline-block;
          vertical-align: middle;
          width: 8em;
          height: .8em;
          margin-right: .3em;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: transparent;
          border: 1px solid;
          border-left: 1.6em solid; }
          article > section ul li meter::-webkit-meter-bar {
            background: transparent; }
          article > section ul li meter::-webkit-meter-optimum-value, article > section ul li meter::-webkit-meter-suboptimum-value {
            background: currentColor; }
    article > section li {
      padding: .8em;
      margin-bottom: 1em; }
    article > section:first-of-type h2, article > section:first-of-type p:last-of-type {
      color: #81b814; }
    article > section:first-of-type .weight-1:not(#enough-specificity) {
      background: #f0fbda; }
    article > section:first-of-type .weight-2:not(#enough-specificity) {
      background: #e1f7b6; }
    article > section:first-of-type .weight-3:not(#enough-specificity) {
      background: #d2f391; }
    article > section:first-of-type .weight-4:not(#enough-specificity) {
      background: #c3ef6c; }
    article > section:first-of-type .weight-5:not(#enough-specificity) {
      background: #b4eb47; }
    article > section:first-of-type li {
      background: #ecfad1;
      color: #415c0a; }
    article > section:nth-of-type(2) h2, article > section:nth-of-type(2) p:last-of-type {
      color: #cc0000; }
    article > section:nth-of-type(2) .weight-1:not(#enough-specificity) {
      background: #fff0f0; }
    article > section:nth-of-type(2) .weight-2:not(#enough-specificity) {
      background: #ffd6d6; }
    article > section:nth-of-type(2) .weight-3:not(#enough-specificity) {
      background: #ffbdbd; }
    article > section:nth-of-type(2) .weight-4:not(#enough-specificity) {
      background: #ffa3a3; }
    article > section:nth-of-type(2) .weight-5:not(#enough-specificity) {
      background: #ff8a8a; }
    article > section:nth-of-type(2) li {
      background: #fff0f0;
      color: maroon; }

main > .wysie-add {
  padding: .4em .6em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #757c8a;
  color: white;
  font-size: 120%;
  border-radius: .2em; }
  main > .wysie-add:hover {
    background: #5e636e; }

footer {
  margin-top: 2em;
  color: #6a707c; }

#data {
  display: block;
  font: 100%/1.5 Consolas, Monaco, monospace;
  white-space: pre;
  background: rgba(230, 230, 230, 0.2);
  padding: .6em;
  margin: 3em 0 1em;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  text-align: left; }

#data:empty {
  visibility: hidden; }

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.6); }

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::placeholder {
  color: rgba(117, 117, 117, 0.6); }
