$background: hsl(220,8%,60%);
$pro-color: hsl(80, 80%, 50%);
$con-color: hsl(0, 100%, 50%);

body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1em;
	background: $background;
	font: 120% Helvetica Neue, sans-serif;
	text-align: center;
}

button {
	cursor: pointer;
}

main > h1 {
	position: relative;
	width: fit-content;
	margin: .5em auto 1em;
	color: white;
	font-size: 180%;
	line-height: 1.1;

	span {
		display: block;
		color: black;
		position: relative;
		z-index: 1;
	}

	&::before,
	&::after {
		content: "?";
		position: absolute;
		right: -1.2rem;
		top: -0.89rem;
		min-width: 1.1em;
		text-align: center;
		border-radius: 50%;

		color: $background;
		font-size: 250%;
		font-weight: bold;
	}

	&::before {
		background: rgba(0,0,0,.1);
		z-index: -1;
		color: transparent;
	}
}

h1 {
	text-align: center;
}

article {
	$padding: 2.5em;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width: 35em;
	padding: $padding;
	margin: 2em auto;
	background: white;
	color: black;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);

	& > header {
		width: 100%;
		padding: inherit;
		padding-bottom: $padding/2;
		margin: -$padding;
		margin-bottom: 0;
		transition: .5s background;

		&.answer-Yes {
			background: darken($pro-color, 10%);
			color: white;
		}

		&.answer-Maybe {
			background: gold;
		}

		&.answer-No {
			background: darken($con-color, 10%);
			color: white;
		}

		h1 {
			margin: 0;
			font-size: 250%;
			font-weight: 300;

			& + p {
				text-align: center;
			}
		}
	}

	& > section {
		flex: 1;
		margin: 2em 1px 0;
		text-align: left;

		h2 {
			color: white;
			margin: 0;
			padding: .3rem .5rem;
			border-bottom: .2em solid;
			line-height: 1;
			font-weight: normal;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: 1px 0;
				transition: .5s background;

				p {
					margin: 0;
				}

				p + p {
					margin-top: 1em;
					font-size: 80%;
				}

				meter {
					$width: 8em;
					display: inline-block;
					vertical-align: middle;
					width: $width;
					height: .8em;
					margin-right: .3em;
					appearance: none;
					background: transparent;
					border: 1px solid;
					border-left: $width/5 solid;

					&::-webkit-meter-bar {
						background: transparent;
					}

					&::-webkit-meter-optimum-value,
					&::-webkit-meter-suboptimum-value {
						background: currentColor;
					}
				}
			}
		}

		li {
			padding: .8em;
			margin-bottom: 1em;
		}

		// Pros
		&:first-of-type {
			h2, p:last-of-type {
				color: darken($pro-color, 10%);
			}

			@for $i from 1 through 5 {
				.weight-#{$i}:not(#enough-specificity) { background: lighten($pro-color, 50% - $i*8%); }
			}

			li {
				background: lighten($pro-color, 40%);
				color: darken($pro-color, 30%);
			}
		}

		// Cons
		&:nth-of-type(2) {
			h2, p:last-of-type {
				color: darken($con-color, 10%);
			}

			@for $i from 1 through 5 {
				.weight-#{$i}:not(#enough-specificity) { background: lighten($con-color, 52% - $i*5%); }
			}

			li {
				background: lighten($con-color, 47%);
				color: darken($con-color, 25%);
			}
		}
	}
}

main > .mv-add {
	padding: .4em .6em;
	border: 1px solid rgba(0,0,0,.05);
	background: darken($background, 10%);
	color: white;
	font-size: 120%;
	border-radius: .2em;

	&:hover {
		background: darken($background, 20%);
	}
}

footer {
	margin-top: 2em;
	color: darken($background, 15%);
}

::placeholder {
	color: hsla(0,0%,46%,.6);
}
