h1#past, h1#upcoming {
	margin-top: 1em;
}

	h1#past .count,
	h1#upcoming .count {
		font-weight: normal;
	}

main:empty:before {
	content: 'Loading talk list…';
	font-weight: bold;
}

main > article {
	padding: .8em 0;
	border-bottom: 1px solid silver;
	text-indent: 0;
	list-style: none;
}

.talks > article:last-child {
	border-bottom:5px solid #eee;
}

.talks > article:before {
	content:none;
}

	.talks h1,
	.talks h2,
	.talks address,
	.talks .comment {
		margin-left:130px;
	}
	
	.talks h1,
	.talks h2 {
		font-size:100%;
	}
	
	.talks h1,
	.talks h2,
	.talks p {
		margin-top:0;
		margin-bottom:0;
	}
	
	.talks h1 {
		
	}
	
		.talks h1 [property=type] {
			color: grey;
			color: rgba(0,0,0,.6);
			font-weight: normal;
			font-style: italic;
		}
		
		.talks h1 span.type:before {
			content: ' (';
		}
		
		.talks h1 span.type:after {
			content: ')';
		}
	
		.talks h1 a {
			display: inline-block;
			vertical-align: .1em;
			padding: .4em .4em .25em;
			margin-left: .5em;
			color: white;
			text-shadow: 0;
			font-size: 75%;
			line-height: 1;
			text-transform: uppercase;
			border-radius: .3em;
		}
		
		.talks h1 a.slides {
			background: orange;
		}
		
		.talks h1 a.details {
			background: #0bd;
		}
		
		.talks h1 a.video {
			background: yellowgreen;
		}
		
		.talks h1 a:hover {
			background: #f06;
			color: white;
		}
	
	.talks h2 {
		font-weight:normal;
		line-height:1.2;
		margin-bottom:.6em;
	}
	
	.talks .date {
		float:left;
		margin-top:-1.9em;
		color: #aaa;
		font-variant:small-caps;
	}
	
	.talks address,
	.talks .comment {
		font-size:75%;
		font-style:normal;
	}
	
	.talks address {
	}
	
	.talks address:before {
		display:inline-block;
		margin-right:.4em;
		vertical-align:-1px;
	}
	
	.talks address:not([class*="flag-"]):before {
		content: url(flags/online.png);
		vertical-align:-3px;
	}
	
	.talks address.flag-nl:before { content: url(flags/nl.png); }
	.talks address.flag-nz:before { content: url(flags/nz.png); }
	.talks address.flag-gb:before { content: url(flags/gb.png); }
	.talks address.flag-se:before { content: url(flags/se.png); }
	.talks address.flag-fi:before { content: url(flags/fi.png); }
	.talks address.flag-ru:before { content: url(flags/ru.png); }
	.talks address.flag-no:before { content: url(flags/no.png); }
	.talks address.flag-pl:before { content: url(flags/pl.png); }
	.talks address.flag-gr:before { content: url(flags/gr.png); }
	.talks address.flag-ch:before { content: url(flags/ch.png); }
	.talks address.flag-de:before { content: url(flags/de.png); }
	.talks address.flag-Italy:before { content: url(flags/it.png); }
	.talks address.flag-USA:before { content: url(flags/us.png); }
	.talks address.flag-au:before { content: url(flags/au.png); }
	.talks address.flag-cz:before { content: url(flags/cz.png); }
	.talks address.flag-ca:before { content: url(flags/ca.png); }
	.talks address.flag-cl:before { content: url(flags/cl.png); }
	.talks address.flag-br:before { content: url(flags/br.png); }
	.talks address.flag-be:before { content: url(flags/be.png); }
	.talks address.flag-fr:before { content: url(flags/fr.png); }
	.talks address.flag-ph:before { content: url(flags/ph.png); }
	.talks address.flag-at:before { content: url(flags/at.png); }
	.talks address.flag-es:before { content: url(flags/es.png); }
	.talks address.flag-hu:before { content: url(flags/hu.png); }
	.talks address.flag-mx:before { content: url(flags/mx.png); }
	.talks address.flag-in:before { content: url(flags/in.png); }
	.talks address.flag-uy:before { content: url(flags/uy.png); }
	.talks address.flag-il:before { content: url(flags/il.png); }
	
	.talks .comment,
	.talks .comment a {
		color:gray;
	}
	
	.talks .comment a {
		text-decoration: underline;
	}
	
	.talks .comment a:before {
		content:none;
	}
