@import url("https://fontlibrary.org/face/libre-bodoni");
body {
  margin: 0;
  font: 300 106%/1.5 Helvetica Neue, sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

a {
  color: #a84d5f; }
  a:not(:hover) {
    text-decoration: none; }

dd + dt {
  margin-top: 1.5em; }

pre, code {
  background: #f9f1f3;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre; }

/* Code blocks */
pre {
  padding: 1em 1.5em;
  margin: .5em -1.5em;
  overflow: auto;
  -webkit-clip-path: polygon(0 0, 100% 0.5em, calc(100% - .5em) calc(100% - 1em), 0 100%);
  clip-path: polygon(0 0, 100% 0.5em, calc(100% - .5em) calc(100% - 1em), 0 100%); }
  @supports not ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
    pre {
      border-radius: .5em; } }

:not(pre) > code {
  padding: .2em .4em;
  border-radius: .25em; }

hr {
  height: 2em;
  margin: 1.5em 0 1em;
  background: url(hr.svg) no-repeat center;
  border: none; }

input {
  font: inherit;
  color: inherit;
  border: none;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.4); }

.logo {
  font: 300 180% Helvetica Neue, sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  white-space: nowrap; }
  .logo img {
    display: block;
    margin-bottom: -.6em; }

body > header,
body > section,
body > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em; }

body > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20vh;
  padding: 6em;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #cc8f9b;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5em), 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5em), 0% 100%); }

body > section > h1 {
  font: bold 200% Didot, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
  color: #bc6c7c; }

body > section > * {
  width: 900px;
  max-width: 90vw; }

.home body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #cc8f9b; }

.home h1 {
  margin: 0;
  width: 500px; }

.docs .logo {
  letter-spacing: .1em;
  font-size: 150%; }
  .docs .logo img {
    margin-bottom: -.8em; }

.docs .example > h1 {
  color: #80b3ae; }

.docs .example.color-picker .example-container {
  padding: 0; }
  .docs .example.color-picker .example-container div[style] {
    padding: 2em; }
  .docs .example.color-picker .example-container input {
    display: block; }

.docs .example.scoped-expressions .example-container [typeof] {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  margin: 1em; }

.docs .example.pow .example-container {
  font-size: 300%; }
  .docs .example.pow .example-container input {
    background: rgba(0, 0, 0, 0.05);
    border: none; }
  .docs .example.pow .example-container input {
    text-align: center; }
  .docs .example.pow .example-container [property="exponent"] {
    font-size: 60%;
    vertical-align: top; }

.docs .example.movie .example-container {
  padding: 0; }
  .docs .example.movie .example-container div[class] {
    padding: 2em; }

.docs .example .example-container {
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  padding: 2.5em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1em 0 0; }
  .docs .example .example-container input[type="number"] {
    font-size: 150%;
    max-width: 2em; }
  .docs .example .example-container [data-multiple] {
    padding: .5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: .5em 0; }
    .docs .example .example-container [data-multiple] h1 {
      margin-top: 0; }
  @media print {
    .docs .example .example-container {
      display: none; } }

.docs .example .wysie-debug-storage {
  margin: 0;
  background: rgba(0, 0, 0, 0.06);
  color: black .docs .example .wysie-debug-storage; }
  .docs .example .wysie-debug-storage :not(:last-child) {
    margin-bottom: 1em; }
  .docs .example .wysie-debug-storage summary {
    display: block;
    padding: .3em .8em;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 75%;
    font-weight: bold;
    cursor: pointer;
    outline: none; }
    .docs .example .wysie-debug-storage summary:hover, .docs .example .wysie-debug-storage summary:focus {
      background: rgba(0, 0, 0, 0.6); }
  .docs .example .wysie-debug-storage pre {
    background: none;
    margin: 0;
    color: black; }
    .docs .example .wysie-debug-storage pre th {
      color: white; }
    .docs .example .wysie-debug-storage pre th, .docs .example .wysie-debug-storage pre td {
      border-color: rgba(0, 0, 0, 0.1); }
  @media print {
    .docs .example .wysie-debug-storage {
      display: none; } }

.docs #show-examples, .docs #show-examples + label {
  margin: 0;
  line-height: 1; }
  @media print {
    .docs #show-examples, .docs #show-examples + label {
      display: none; } }
  @media (min-width: 1300px) {
    .docs #show-examples, .docs #show-examples + label {
      position: fixed;
      bottom: 2rem;
      left: 2rem; } }

.docs #show-examples + label {
  left: 3.5rem; }

.docs #show-examples:not(:checked) ~ section .example {
  display: none; }

.docs #summary {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
  .docs #summary dt {
    font-size: 120%;
    font-weight: bold; }

.docs body > section > table {
  border-spacing: 0;
  border-collapse: collapse; }
  .docs body > section > table th, .docs body > section > table td {
    text-align: left; }
  .docs body > section > table td {
    padding: .1em .5em;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .docs body > section > table code {
    background: transparent; }

.note, .tip {
  border-left: 0.5em solid #a6c9c6;
  padding-left: .5em;
  margin-left: -1em; }
  .note::before, .tip::before {
    content: "Note: ";
    font-weight: bold;
    color: #80b3ae; }

.tip::before {
  content: "Tip: "; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.unimplemented {
  text-decoration: line-through;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed; }

/*# sourceMappingURL=style.css.map */
