// Colors
$accent-color: hsl(348, 37%, 68%);
$secondary-color: hsl(175, 25%, 60%);

// Fonts
$body-font: Helvetica Neue, sans-serif;
$heading-font: Didot, 'Didot LT STD', "Bodoni 72", Bodoni, 'Bodoni MT', 'Libre Bodoni', 'Hoefler Text', Cambria, Georgia, serif;

@import url("https://fontlibrary.org/face/libre-bodoni");

body {
	margin: 0;
	font: 300 106%/1.5 $body-font;
	font-kerning: auto;
	hyphens: auto;
}

a {
	color: darken($accent-color, 20%);

	&:not(:hover) {
		text-decoration: none;
	}
}

pre, code, .example script[type='application/json'] {
	background: lighten($accent-color, 28%);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	tab-size: 4;
	hyphens: none;
	white-space: pre;
}

	/* Code blocks */
	pre {
		padding: 1em 1.5em;
		margin: .5em -1.5em;
		overflow: auto;

		clip-path: polygon(0 0, 100% .5em, calc(100% - .5em) calc(100% - 1em), 0 100%);

		@supports not (clip-path: polygon(0 0)) {
			& {
				border-radius: .5em;
			}
		}
	}


	:not(pre) > code {
		padding: .2em .4em;
		border-radius: .25em;
	}

hr {
	height: 2em;
	margin: 1.5em 0 1em;
	background: url(hr.svg) no-repeat center;
	border: none;
}

input {
	font: inherit;
	color: inherit;
	border: none;
	border-bottom: .1em solid rgba(0,0,0,.4);
}

.logo {
	font: 300 180% Helvetica Neue, sans-serif;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: white;
	text-align: center;
	white-space: nowrap;

	img {
		display: block;
		margin-bottom: -.6em;
	}
}

body > header,
body > section,
body > footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

body > header {
	display: flex;
	min-height: 20vh;
	padding: 6em;
	align-items: center;
	justify-content: center;
	background: $accent-color;

	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5em), 0% 100%);
}

body > section {
	& > h1 {
		font: bold 200% $heading-font;
		color: darken($accent-color, 10%);
	}

	& > * {
		width: 900px;
		max-width: 90vw;
	}
}

.home {
	body {
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: center;
		background: hsl(348, 37%, 68%);
	}

	h1 {
		margin: 0;
		width: 500px;
	}
}

.docs {
	.logo {
		letter-spacing: .1em;
		font-size: 150%;

		img {
			margin-bottom: -.8em;
		}
	}

	.example {
		& > h1 {
			color: $secondary-color;
		}

		&.color-picker .example-container {
			padding: 0;

			div[style] {
				padding: 2em;
			}

			input {
				display: block;
			}
		}

		&.scoped-expressions .example-container {
			[typeof] {
				padding: 1em;
				border: 1px solid rgba(0,0,0,.2);
				background: rgba(0,0,0,.05);
				margin: 1em;
			}
		}

		&.pow .example-container {
			font-size: 300%;

			input {
				background: rgba(0,0,0,.05);
				border: none;
			}

			input {
				text-align: center;
			}

			[property="exponent"] {
				font-size: 60%;
				vertical-align: top;
			}
		}

		&.movie .example-container {
			padding: 0;

			div[class] {
				padding: 2em;
			}
		}

		.example-container {
			position: relative;
			transform: scale(1);
			padding: 2.5em 2em 2em;
			border: 1px solid rgba(0,0,0,.3);
			margin: 1em 0 0;

			input[type="number"] {
				font-size: 150%;
				max-width: 2em;
			}

			& + details {
				margin-bottom: 1em;

				summary {
				   display: block;
				   padding: .3em .8em;
				   background: rgba(0,0,0,.3);
				   color: white;
				   font-size: 75%;
				   font-weight: bold;
				   cursor: pointer;
				   outline: none;

				   &:hover, &:focus {
					   background: rgba(0,0,0,.6);
				   }
			   }
			}
		}

		script[type='application/json'] {
			display: block;
			padding: 1em;
		}
	}

	#show-examples {
		&, & + label {
			position: fixed;
			bottom: 2rem;
			left: 2rem;
			margin: 0;
			line-height: 1;
		}

		& + label {
			left: 3.5rem;
		}

		&:not(:checked) ~ section .example {
			display: none;
		}
	}

	.note {
		border-left: .5em solid mix(white, $secondary-color, 30%);
		padding-left: .5em;
		margin-left: -1em;

		&::before {
			content: "Note: ";
			font-weight: bold;
			color: $secondary-color;
		}
	}
}

.tip {
	&::before {
		content: "Tip: ";
		font-weight: bold;
	}
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.unimplemented {
	text-decoration: line-through;
	text-decoration-style: dashed;
}
